<% content_for(:title) { "Whatte - A Gaffer dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Whatte" data-text="Really, whatte hell is going on with the processes?" data-moreinfo="Sometimes not everything is working as expected"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gaffer-list" data-view="List" data-title="Gaffer" data-unordered="true" data-min="0" data-max="100" style="background-color:#E62E78"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="processes-list" data-view="List" data-unordered="true" data-title="Processes"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="yourmomma-list" data-view="List" data-title="yourmomma" data-unordered="true" data-moreinfo="# flask application" style="background-color:#0CAD2C"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="scarytornado-list" data-view="List" data-title="scarytornado" data-unordered="true" data-moreinfo="# tornado application" style="background-color:#1268C4"></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">Whatte - 2013</div></center>
</div>